<?xml version="1.0"?>
<config>
  <modules>
    <ElitrackCMS_Elitrack>
      <version>0.1.0</version>
    </ElitrackCMS_Elitrack>
  </modules>
  <frontend>
    <routers>
      <elitrack>
        <use>standard</use>
          <args>
            <module>ElitrackCMS_Elitrack</module>
            <frontName>elitrack</frontName>
          </args>
      </elitrack>
    </routers>
		<layout>
		  <updates>
			<elitrack>
			  <file>elitrack.xml</file>
			</elitrack>
		  </updates>
		</layout>
  </frontend>
  <global>
    <models>
      <elitrack>
        <class>ElitrackCMS_Elitrack_Model</class>
      </elitrack>
    </models>
    <helpers>
      <elitrack>
        <class>ElitrackCMS_Elitrack_Helper</class>
      </elitrack>
    </helpers>
  	<blocks>
  	  <elitrack>
  		<class>ElitrackCMS_Elitrack_Block</class>
  	  </elitrack>
  	</blocks>
  </global>
</config> 